{% extends 'base.html.twig' %}

{% block title %}Welcome to symfony!{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>
    {% if user%}
        Hello {{ user.username }}

    {% endif %}
{% endblock %}
